<h1>Sign up</h1>

<form method="POST" accept="/auth/signup">
   <div class="form-group">
    <label for="firstname">First Name:</label>
    <input type="text" name="firstname" placeholder="Your first name" class="form-control">
  </div>
   <div class="form-group">
    <label for="lastname">Last Name:</label>
    <input type="text" name="lastname" placeholder="Your last name" class="form-control">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" name="email" placeholder="Your email address" class="form-control">
  </div>
   <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password" class="form-control">
    <br>
    <input type="submit" value="Signup!" class="btn btn-danger">
  </div>

</form>
