<div class="row">
  <div class="col-sm-8">
    <h1>SHOW ME WHAT YOU GOT</h1>

    <% posts.forEach(function(user) { %>
      <div class="well">
        <h2>
          <a href="/users/<%= user.id %>"><%= user.firstname %><%= user.lastname %></a>
          <small>From <%= user.location %></small>
        </h2>

      </div>
    <% }); %>

  </div>
  <div class="col-sm-4">
    <h2>About</h2>
    <p>Planet Music info goes here</p>
  </div>
</div>
